.mapa {
  -webkit-box-flex: 40%;
  -ms-flex: 40%;
  flex: 40%;
  max-width: 40%;
}

/*GENERAL*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 100%;
  color: black;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}

main {
  /*margin-top: 2em;*/
}

.logo {
  display: none;
  margin-top: 3.6em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
h1 {
  font-size: 2em; /*28px/28px*/
}
.post-header-h1 {
  margin-top: 2em;
}
.poster {
    justify-content: center;
    display: flex;
}
.poster img {
  max-width: 50%;
    height: auto;
    border-radius: 0.5em;
}
.post-header-h2 {
  font-size: 1.5em;
  margin-top: 4em;
  margin-bottom: 1em;
}
h5 {
  font-size: 0.83em;
}
.quote {
  font-style: italic;
}

.hashtag {
  margin-bottom: 0.5em;
  display: inline-block;
  margin-right: 0.5em;
}
.hr {
  background-color:  rgb(68, 63, 63);
  height: 1px;
  max-width: 100%;
  margin-bottom: 50px;
  border-radius: 6px;
  opacity: 0.4;
}
.main-content {
  text-align: center;
  margin-top: 5em;
  display: none;
  /*padding: 1.5em;*/
}
.main-content a {
  color: #000;
}

.main-content a:hover {
  text-decoration: underline;
}
.main-content dt h1 {
  cursor: pointer;
}
.main-content dt h1:hover {
  text-decoration: underline;
}
.main-content dt h1 {
  cursor: pointer;
  text-align: center;
}

.ul-left {
  text-align: left;
}

a {
  text-decoration: none;
  display: inline-block;
  word-break: break-all;
}
.justify {
  text-align: justify;
}
iframe {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}
strong {
  font-weight: 700;
}
.mezera {
  height: 2em;
}
.text-center {
  text-align: center;
}
.tac {
  text-align: center;
}
.text-left {
  text-align: left;
}

/*---------------------CLEAR FIX--------------------------------*/
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
  content: " ";
  display: table;
}

.container:after,
.group:after,
.menu:after {
  clear: both;
}

.container,
.group,
.menu {
  *zoom: 1;
}

/*----------------------------------NAVBAR----------------------------------*/

.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.menu li {
  float: left;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 10;
  top: 0;
}
.bg-dark {
  background: #000 !important;
}

.navigation {
  padding: 0.6em;
}

.navigation a {
  font-size: 95%;
  color: #fff;
  text-transform: lowercase;
  margin-right: 1em;
  text-transform: uppercase;
}

.navigation a:hover,
.navigation a:focus {
  color: #ffc728;
  text-decoration: none;
}

.navigation li {
  color: #ffc728;
  text-transform: uppercase;
  margin: auto;
}

.navigation li:hover,
.navigation li:focus {
  color: #ffc728;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

/*social icons*/
.social-icon-container {
  width: 11em;
  margin: 0;
  position: absolute;
  height: auto;
  right: 0.1em;
  top: 2px;
}
.social-icon {
  top: 0.2em;
  position: relative;
}
.social-icon i {
  color: white;
  font-size: 2.2em;
  padding: 0.2em;
}
.social-icon i:hover {
  color: #ffc728;
}

/*CONTENT*/
.project {
  margin-bottom: 1.5em;
  border-radius: 7px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 15px;
  display: inline-block;
}
.project:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project img {
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.card {
  max-width: 12em !important;
}
.project-img {
  height: 150px !important;
}
.col-project {
  padding-right: 0;
  padding-left: 0;
}
.row {
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}
.card-title {
  word-break: break-word;
  font-size: 1em;
}
.index-container {
  max-width: 900px;
  padding-right: 0.4em;
  padding-left: 0.4em;
  margin: 0 auto;
}
.container {
  max-width: 900px;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 auto;
}

.link {
  font-weight: bold;
}
.link-source {
  margin-top: 10px;
}
.link:hover {
  color: #555;
  border-radius: 6px;
}
.link a {
  text-decoration: none;
}

/*IMG MAIN CONTENT*/
.logo {
  display: flex;
  justify-content: center;
}

.img2 {
  display: none;
}
@media screen and (max-width: 1199px) {
  .social-icon {
    top: 0.1em;
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  .navigation a {
    margin-bottom: 1em;
    margin-right: 0;
  }

  body {
    font-size: 100%;
    letter-spacing: 0px;
    line-height: 142%;
  }

  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .poster img {
    max-width: 100%;
  }
}

.cile {
  margin-bottom: 3em;
}
.members {
  margin-bottom: 3em;
  margin-top: 3em;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: inline-block;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 6px;
}
.card-title {
  text-align: center;
}

/*IMG settings*/
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

/*GALERIE A LOGA*/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery a {
  max-width: 20%;
  display: block;
}
.gallery img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: auto;
  margin: 0;
}
.gallery img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(2);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-content {
  width: 100%;
  text-align: left;
}

.text-transform a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.post-content a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
}

.card-text {
  display: none;
}

/*PRE FOOTER*/
.cowork-logo {
  width: 10em;
  height: auto;
  display: inline-block;
  margin-right: 0.4em;
}

/* FOOTER */
footer {
  background: #000;
  color: #fff;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  flex-direction: column;
}
